/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.title{
  font-family: 'Barlow', sans-serif;
}

.description{
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);

  font-family: 'Barlow', sans-serif;
  padding:20px;
}

p {
  padding-bottom: 20px;
}
